html(lang='en')
   include ../layout/head.pug

   head
      // JQuery
      script(src="https://code.jquery.com/jquery-3.3.1.min.js"
         integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous")

      // Socket.io
      script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
     
      // Leaflet
      link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
         integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
         crossorigin="")
      script(src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
         integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
         crossorigin="")

      script(type='text/javascript' src='/public/js/sidebar.js')
      script(type='text/javascript' src='/public/js/map.js')
         
      // Socket
      script(type='text/javascript' src='/public/js/socket.js')

   body
      div(id="sidebar" class="sidebar collapsed")
         div(class="sidebar-tabs")
            ul(role="tablist")
               li
                  a(href="#home" role="tab" class="material-icons") dehaze
               li
                  a(href="/" role="tab" class="material-icons") home

               li(class)
                  a(href="/report" role="tab" class="material-icons") report

               li(class="disabled")
                  a(href="" role="tab" class="material-icons") person

            ul(role="tablist")
               li
                  a(href="#settings" role="tab" class="material-icons") settings

         div(class="sidebar-content")
            div(class="sidebar-pane" id="#home")
               h1(class="sidebar-header")
                  p Pet 'N Found
                  span(class="sidebar-close")
                     li(class="material-icons") arrow_left

               div(id="report")
                  img(class="report-image")
                  h2(class="report-title")
                  h3(class="report-distance")
                  
               p(class="report-description")

      div(id='petmap' class='sidebar-map')
