div(class="input-group mb-3")
  div(class="input-group-addon")
    span(class="material-icons") account_circle
  input(id="username" class="form-control" name="username" tabindex="1" 
    placeholder="Username" type="text" value="")

div(class="input-group mb-3")
  div(class="input-group-addon")
    span(class="material-icons") email
  input(id="email" class="form-control" name="email" tabindex="2" 
    placeholder="email" type="text" value="")

div(class="input-group mb-3")
  div(class="input-group-addon")
    span(class="material-icons") lock
  input(id="password" class="form-control" name="password" tabindex="3" 
    placeholder="Password" type="password" value="")

div(class="input-group mb-3")
  div(class="input-group-addon")
    span(class="material-icons") confirmation_number
  input(id="confirm-password" class="form-control" name="passwordConfirmation" 
    tabindex="4" placeholder="Confirm Password" type="password" value="")

div(class="input-group mb-3")
  div(class="row")
    div(class="col-sm-6 col-sm-offset-3")
      input(id="login-submit" class="form-control btn btn-login" name="login-submit"
        tabindex="5" value="Register Now" type="submit")
